.order-details-title {
  text-align: left;
}

.order-content {
  background: #ffffff;
  padding: 32px;
  border: solid 2px #ededed;
  border-radius: 8px;
  text-align: left;
}

.order-content .order-header {
  margin-bottom: 32px;
  text-align: center;
  text-align: left;
}

.order-content .order-header h1 {
  font-size: 32px;
  margin-bottom: 8px;
  color: #333;
}

.order-content .order-header .order-meta {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 16px;
}

.order-content .info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 32px;
}

.order-content .info-card {
  background: white;
  border-radius: 8px;
  border: 1px solid #717171;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-content .info-card h2 {
  margin: 0;
  font-size: 21px;
  color: #333;
}

.order-content .info-card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-content .info-card .card-content p {
  margin: 0;
  color: #555;
  text-align: left;
}

.order-content .items-section {
  margin-bottom: 32px;
  text-align: left;
}

.order-content .items-section h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

.order-content .items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.order-content .cart-item .card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #fff;
}

.order-content .cart-item .card-content {
  padding: 10px 20px;
  text-align: center;
}

.order-content .cart-item .card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.order-content .cart-item .card p {
  font-size: 14px;
  color: #666;
}

.order-content .cart-item .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.order-content .cart-item .details .price,
.order-content .cart-item .details .format {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.order-content .cart-item .cover {
  background-size: cover;
  height: 300px;
  width: 100%;
}

.order-content .cart-item .cover .backdrop {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.order-content .cart-item .cover .backdrop .img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.order-content .cart-item .status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.order-content .cart-item .card fa-icon {
  font-size: 16px;
  color: #333;
}

.order-content .cart-item .card .not-available {
  background: black;
  width: 100%;
  color: white;
  padding: 4px;
}

.order-content .cart-item .quantity-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.order-content .cart-item .quantity-display {
  cursor: default;
  padding: 5px 10px;
  border-radius: 4px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 8px;
}

.order-content .order-summary {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #4c4c4c;
  
  text-align: left;
}

.order-content .summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
  font-size: 16px;
}

.order-content .summary-row.total {
  font-size: 19px;
  font-weight: bold;
  padding-top: 11px;
  border-top: 1px solid #eee;
}