:host {
    display: flex;  
    flex: 1;      
    text-align: center;
    box-sizing: border-box;
    flex-direction: column;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.slogan {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    cursor: pointer;
}

