<div class="search-bar">
    <input [formControl]="searchQueryInput" type="text" class="search-input" placeholder="{{ 'landing.search-prompt' | translate }}">
    <button class="search-button" (click)="search()">
        <fa-icon [icon]="'search'"></fa-icon>        
    </button>
</div>


@if (searchLoading === true) {
    <app-loading-progress-bar></app-loading-progress-bar>
} @else if (searchLoading === false) {
    <div class="search-results">
        @for (entry of searchResults.entries; track $index) {
            <app-landing-search-result 
                [title]="entry.title" 
                [stocks]="entry.stocks" 
                [formatPreviewImages]="entry.formatPreviewImages" 
                [authors]="entry.authors" 
                [isbn]="entry.isbn"
            ></app-landing-search-result>
        }
    </div>
    
    @if (searchResults.entries.length > 0) {
        <div class="page-navigator">
            @if (searchResults.currentPage > 0) {
                <button class="page-nav-button prev" (click)="goToPreviousPage()">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>
                </button>
            }
            <span class="page-info">
                {{ searchResults.currentPage + 1 }} / {{ searchResults.totalPages }}
            </span>
            @if (searchResults.currentPage < searchResults.totalPages - 1) {
                <button class="page-nav-button next" (click)="goToNextPage()">
                    <fa-icon [icon]="'arrow-right'"></fa-icon>
                </button>
            }
        </div>
    }
}
