<div class="tooltip-bar">
    @if (loggedIn) {
    <div class="shopping-cart" (click)="openCart()" title="{{ 'shopping-cart' | translate }}">
        <fa-icon [icon]="'shopping-cart'"></fa-icon>
    </div>
    <div class="orders" (click)="openOrders()" title="{{ 'orders' | translate }}">
        <fa-icon [icon]="'truck-fast'"></fa-icon>
    </div>
    }
    <div class="user" (click)="userClickedUserSection()">
        <fa-icon [icon]="'user'"></fa-icon>
        @if (loggedIn) {
            {{ 'hello' | translate }}, {{ userFirstName }}!
        } @else {
            {{ 'login' | translate }}
        }

        @if (showLogoutMenu) {
            <div class="logout-menu" >
                <button (click)="logout()">
                  {{ 'logout' | translate }}
                  <fa-icon [icon]="'sign-out-alt'"></fa-icon>
                </button>
            </div>
        }
    </div>
</div>